pkgbase = yourkit
	pkgdesc = Java CPU and memory profiler.
	pkgver = 2017.02b75
	pkgrel = 1
	url = http://www.yourkit.com
	arch = i686
	arch = x86_64
	license = custom
	depends = desktop-file-utils
	depends = bash
	optdepends = intellij-idea-community-edition: A Java IDE that integrates with Yourkit
	optdepends = eclipse: A Java IDE that integrates with Yourkit
	optdepends = netbeans: A Java IDE that integrates with Yourkit
	options = !strip
	source = http://www.yourkit.com/download/YourKit-JavaProfiler-2017.02-b75.zip
	sha256sums = 562d566c710f00f6b5d72a5ea29111896cccc634485f27fc7397d32bae971d54

pkgname = yourkit
